.article-meta {
    background-color: #F5F5F5;
    margin: 0 0 10px 0;
    font-size: 16px;
}

.article-meta ul {
    padding: 5px 5px 5px 0;
    margin: 5px 0;
}

#feedback {
    margin-top: 40px;
    height: 80px;
}

#feedback p {
    font-size: 20px;
    padding: 20px;
}

#feedback p span {
    margin: 0 10px;
}
